<div class="calendar-purple-line"> </div>
<table class="table calendar-table calendar-with-bottom-gap">
	<tr>
		<td style="width:50%" class="heading-content3">Teusday 24 May</td>
		<td style="width:25%" class="content-text">&nbsp;</td>
		<td style="width:25%" class="content-text">&nbsp;</td>
	</tr>
	<tr>
		<td style="width:50%" class="content-text">Event Name</td>
		<td style="width:25%" class="content-text">Venue Name</td>
		<td style="width:25%" class="content-text">Time - Time</td>
	</tr>
</table>
