<h1 class="heading-content1">Heading 1</h1>
<div class="calendar-purple-line"> </div>
<table class="table news-table calendar-with-bottom-gap">
	<tr>
		<td style="width: 70%">
			<h2 class="heading-content2">Heading 2</h2>
			<h3 class="heading-content3">Heading 3</h3>
			<p class="content-text">
				Cupcake ipsum dolor sit amet. Carrot cake topping chocolate cake brownie sugar plum carrot cake candy dessert. Marzipan apple pie sugar plum chocolate liquorice I love lollipop I love. Marzipan sweet roll lollipop oat cake bonbon liquorice I love. Muffin liquorice sugar plum. Gummies candy canes I love tiramisu toffee bear claw I love. Dessert cake croissant sesame snaps. Sesame snaps sugar plum I love.
				<br/><br/>
Muffin sweet roll brownie. Donut cotton candy oat cake pudding chocolate cake. I love wafer caramels I love. Jelly-o bear claw jelly beans macaroon macaroon I love chocolate sugar plum gummi bears. Gummies apple pie candy wafer sesame snaps I love macaroon I love. Pudding brownie I love I love candy danish cookie. Toffee sesame snaps powder gummi bears cupcake tart candy. I love sweet cookie I love applicake jujubes.
			</p>
		</td>
		<td style="width: 5%">
		</td>
		<td style="width: 25%">
			<img src="http://placehold.it/300x300">
		</td>
	</tr>
</table>
<div class="calendar-purple-line"> </div>
<table class="table news-table calendar-with-bottom-gap">
	<tr>
		<td style="width: 70%">
			<h2 class="heading-content2">Heading 2</h2>
			<h3 class="heading-content3">Heading 3</h3>
			<p class="content-text">
				Cupcake ipsum dolor sit amet. Carrot cake topping chocolate cake brownie sugar plum carrot cake candy dessert. Marzipan apple pie sugar plum chocolate liquorice I love lollipop I love. Marzipan sweet roll lollipop oat cake bonbon liquorice I love. Muffin liquorice sugar plum. Gummies candy canes I love tiramisu toffee bear claw I love. Dessert cake croissant sesame snaps. Sesame snaps sugar plum I love.
				<br/><br/>
Muffin sweet roll brownie. Donut cotton candy oat cake pudding chocolate cake. I love wafer caramels I love. Jelly-o bear claw jelly beans macaroon macaroon I love chocolate sugar plum gummi bears. Gummies apple pie candy wafer sesame snaps I love macaroon I love. Pudding brownie I love I love candy danish cookie. Toffee sesame snaps powder gummi bears cupcake tart candy. I love sweet cookie I love applicake jujubes.
			</p>
		</td>
		<td style="width: 5%">
		</td>
		<td style="width: 25%">
			<img src="http://placehold.it/300x300">
		</td>
	</tr>
</table>
<div class="calendar-purple-line"> </div>
<table class="table news-table calendar-with-bottom-gap">
	<tr>
		<td style="width: 70%">
			<h2 class="heading-content2">Heading 2</h2>
			<h3 class="heading-content3">Heading 3</h3>
			<p class="content-text">
				Cupcake ipsum dolor sit amet. Carrot cake topping chocolate cake brownie sugar plum carrot cake candy dessert. Marzipan apple pie sugar plum chocolate liquorice I love lollipop I love. Marzipan sweet roll lollipop oat cake bonbon liquorice I love. Muffin liquorice sugar plum. Gummies candy canes I love tiramisu toffee bear claw I love. Dessert cake croissant sesame snaps. Sesame snaps sugar plum I love.
				<br/><br/>
Muffin sweet roll brownie. Donut cotton candy oat cake pudding chocolate cake. I love wafer caramels I love. Jelly-o bear claw jelly beans macaroon macaroon I love chocolate sugar plum gummi bears. Gummies apple pie candy wafer sesame snaps I love macaroon I love. Pudding brownie I love I love candy danish cookie. Toffee sesame snaps powder gummi bears cupcake tart candy. I love sweet cookie I love applicake jujubes.
			</p>
		</td>
		<td style="width: 5%">
		</td>
		<td style="width: 25%">
			<img src="http://placehold.it/300x300">
		</td>
	</tr>
</table>